@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

html,
body {
  min-width: 320px;
  min-height: 450px;
  height: 100%;
}
