@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

*,
body {
  font-family: 'Noto Sans', 'Segoe UI', sans-serif;
}

*::-webkit-scrollbar,
body::-webkit-scrollbar {
  cursor: pointer;
  width: 10px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  cursor: pointer;
  background: rgb(209, 209, 209); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: rgb(141, 141, 141); /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(100, 100, 100); /* color of the scroll thumb */
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;

  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;

  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;

  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.example_dictionary_HTML b {
  background-color: rgb(18, 137, 242);
  padding: 2px;
  color: white;
  border-radius: 5px;
}
